{# assets.outputCss() #}
{# include "signup/index.phtml" #}
{% extends "templates/base.phtml" %}

{% block title %}Index{% endblock %}

{% block head %}
<style type="text/css">.important {
		color: #336699;
	}</style>{% endblock %}

{% block content %}
<h1>Index</h1>
<p class="important">Welcome on my awesome homepage.</p>
{% endblock %}
