<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>登录 - 摩狐连锁管理系统</title>

	<!-- Bootstrap -->
	<link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Animate.css -->
	<link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="/css/custom.css" rel="stylesheet">

	{{ javascript_include("js/jquery-2.2.4.min.js") }}
	{{ javascript_include("js/jq-plugin/jquery.form.js") }}
	{{ javascript_include("js/layer/layer.js") }}
</head>

<body class="login">
<div>
	<a class="hiddenanchor" id="signup"></a>
	<a class="hiddenanchor" id="signin"></a>

	<div class="login_wrapper">
		<div class="animate form login_form">
			<section class="login_content">
				<form action="/auth/doLogin" method="post" id="login">
					<h1><img src="/images/logo.png" style="margin-top: -22px"/></h1>
					<div>
						<input type="text" name="user" id="name" class="form-control" placeholder="用户名" />
					</div>
					<div>
						<input type="password" name="password" id="password" class="form-control" placeholder="密码" />
					</div>
					<div>
						<input type="submit" value="登录"  class="btn btn-default submit" />
						<a class="reset_pass" href="#">忘记密码?</a>
					</div>

					<div class="clearfix"></div>
				</form>
			</section>
		</div>
	</div>
</div>
<script language="javascript">
	$(document).ready(function () {
		var options = {
			//target: '#output',   // target element(s) to be updated with server response
			beforeSubmit: showRequest,  // pre-submit callback
			success: showResponse,  // post-submit callback

			// other available options:
			//url:       url         // override for form's 'action' attribute
			//type:      type        // 'get' or 'post', override for form's 'method' attribute
			dataType: 'json'        // 'xml', 'script', or 'json' (expected server response type)
			//clearForm: true        // clear all form fields after successful submit
			//resetForm: true        // reset the form after successful submit

			// $.ajax options can be used here too, for example:
			//timeout:   3000
		};
		$('#login').ajaxForm(options);
	});
	function showRequest(formData, jqForm, options) {
		if (formData[0]['value'].trim().length < 1) {
			layer.tips('请输入用户名', '#name');
			return false;
		}

		if (formData[1]['value'].trim().length < 1) {
			layer.tips('请输入密码', '#password');
			return false;
		}
		return true;
	}
	function showResponse(responseText, statusText, xhr, $form) {
		console.log(responseText['status']);
		switch (responseText['status']) {
			case 0:
				location.reload();
				break;
			case 1:
				layer.tips(responseText['msg'], '#name');
				break;
			case 2:
				layer.tips(responseText['msg'], '#password');
				break;
			default:
				;
		}
	}
</script>
</body>
</html>