{% extends "base.phtml" %}
{% block title %}登录{% endblock %}
{% block js %}
{{ javascript_include("js/jq-plugin/jquery.form.js") }}
{{ javascript_include("js/jq-plugin/layer/layer.js") }}
{% endblock %}
{% block content %}
<div class="div-center">
	<form action="/auth/dologin" method="post" id="login">
		<div style="float: left; height: 100%">
			<img src="/img/logo.png" style="margin-top: 20px"/>
		</div>
		<div style="float: left; margin: 8px; width: 1px; background-color: #000;height: 100px"></div>
		<div style="float: left">
			<p>
				<label for="name">用户:</label>
				<input type="text" name="user" id="name" style="width: 180px;height: 18px;"/>
			</p>
			<p>
				<label for="email">密码:</label>
				<input type="password" name="password" id="password" style="width: 180px;height: 18px;"/>
			</p>
			<div style="text-align: center;">
				<input type="submit" value="登录"
					   class="x-btn x-unselectable x-toolbar-item x-btn-default-toolbar-small"/>
			</div>
		</div>
	</form>
	<div id="output"></div>
</div>
{% endblock %}
{% block script %}
<script language="javascript">
	$(document).ready(function () {
		var options = {
			//target: '#output',   // target element(s) to be updated with server response
			beforeSubmit: showRequest,  // pre-submit callback
			success: showResponse,  // post-submit callback

			// other available options:
			//url:       url         // override for form's 'action' attribute
			//type:      type        // 'get' or 'post', override for form's 'method' attribute
			dataType: 'json'        // 'xml', 'script', or 'json' (expected server response type)
			//clearForm: true        // clear all form fields after successful submit
			//resetForm: true        // reset the form after successful submit

			// $.ajax options can be used here too, for example:
			//timeout:   3000
		};

		// bind form using 'ajaxForm'
		$('#login').ajaxForm(options);
	});
	// pre-submit callback
	function showRequest(formData, jqForm, options) {
		if (formData[0]['value'].trim().length < 1) {
			layer.tips('请输入用户', '#name');
			return false;
		}

		if (formData[1]['value'].trim().length < 1) {
			layer.tips('请输入密码', '#password');
			return false;
		}
		// formData is an array; here we use $.param to convert it to a string to display it
		// but the form plugin does this for you automatically when it submits the data
		//var queryString = $.param(formData);

		// jqForm is a jQuery object encapsulating the form element.  To access the
		// DOM element for the form do this:
		// var formElement = jqForm[0];

		//alert('About to submit: \n\n' + queryString);

		// here we could return false to prevent the form from being submitted;
		// returning anything other than false will allow the form submit to continue
		return true;
	}

	// post-submit callback
	function showResponse(responseText, statusText, xhr, $form) {
		console.log(responseText['status']);
		switch (responseText['status']) {
			case 0:
				location.reload();
				break;
			case 1:
				layer.tips(responseText['msg'], '#name');
				break;
			case 2:
				layer.tips(responseText['msg'], '#password');
				break;
			default:
				;
		}
	}
</script>
{% endblock %}