html, body {
	width: 100%;
	height: 100%;
	background-color: #4b4c4c;
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

.div-center {
	margin: auto;
	width: 460px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}