{% include "header.phtml" %}

<body class="nav-md">
<div class="container body">
	<div class="main_container">
		<!-- sidebar menu -->
		{% include "sidebar.phtml" %}
		<!-- /sidebar menu -->

		<!-- top navigation -->
		{% include "top_nav.phtml" %}
		<!-- /top navigation -->

		<!-- page content -->
		<div class="right_col" role="main">
			<div class="row tile_count">
				<div class="col-md-2 col-xs-6">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-3 labelCenter">省份</label>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<select class="form-control" id="select-1">
								<option value="0">全国</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-xs-6">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-3 labelCenter">城市</label>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<select class="form-control" id="select-2">
								<option value="0">全部</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-xs-6">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-3 labelCenter">区域</label>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<select class="form-control" id="select-3">
								<option value="0">全部</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-xs-6">
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-3 labelCenter">门店</label>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<select class="form-control" id="select-4">
								<option value="0">全部</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-xs-6">
					<button type="button" class="btn btn-success" id="changeArea">查询</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="dashboard_graph x_panel">
						<div class="row x_title">
							<div class="col-md-4">
								<h4>销售趋势图</h4>
							</div>
							<div class="col-md-8">
								<div id="reportrange" class="pull-right"
									 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
									<span></span> <b class="caret"></b>
								</div>
							</div>
						</div>
						<div class="x_content">
							<div class="demo-container" style="height:250px">
								<div id="graph_line" class="demo-placeholder" style="width: 100%; height:250px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>销售额成份</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
									   aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="javascript:switchEchartDonut('money');">按销售额</a>
										</li>
										<li><a href="javascript:switchEchartDonut('count');">按订单数</a>
										</li>
									</ul>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">

							<div id="echart_donut" style="height:370px;"></div>

						</div>
					</div>
				</div>


				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>销售排行榜</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
									   aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="javascript:switchEchartBar('money');">按销售额</a>
										</li>
										<li><a href="javascript:switchEchartBar('count');">按订单数</a>
										</li>
									</ul>
								</li>
								<li><a class="close-link"><i class="fa fa-close"></i></a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">

							<div id="echart_bar_horizontal" style="height:370px;"></div>

						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- /page content -->

		{% include "footer.phtml" %}
	</div>
</div>

<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="js/moment/moment.min.js"></script>
<script src="js/datepicker/daterangepicker.js"></script>
<!-- Select2 -->
<script src="/vendors/select2/dist/js/select2.full.min.js"></script>
<script src="/vendors/select2/dist/js/i18n/zh-CN.js"></script>

<!-- Custom Theme Scripts -->
<script src="js/custom.js"></script>





<script src="js/maps/gdp-data.js"></script>
<script src="vendors/raphael/raphael.min.js"></script>
<script src="vendors/morris.js/morris.min.js"></script>
<!-- ECharts -->
<script src="vendors/echarts/dist/echarts.min.js"></script>

<script language="JavaScript" type="text/javascript">
	var __DATA = {{data}};
	moment.locale('zh-cn');
</script>

<script src="vendors/echarts/theme/shine.js"></script>
<script src="vendors/echarts/theme/my.js"></script>
<!-- bootstrap-daterangepicker -->
<script>
	$(document).ready(function () {

		var cb = function (start, end, label) {
			$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		};

		var optionSet1 = {
			startDate: moment().subtract(29, 'days'),
			endDate: moment(),
			minDate: moment().subtract(1, 'years').format('MM/DD/YYYY'),
			maxDate: moment().format('MM/DD/YYYY'),
			dateLimit: {
				days: 730
			},
			showDropdowns: true,
			showWeekNumbers: true,
			timePicker: false,
			timePickerIncrement: 1,
			timePicker12Hour: true,
			ranges: {
				'今天': [moment(), moment()],
				'昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'最近7天': [moment().subtract(6, 'days'), moment()],
				'最近30天': [moment().subtract(29, 'days'), moment()],
				'当月': [moment().startOf('month'), moment().endOf('month')],
				'上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			},
			opens: 'left',
			buttonClasses: ['btn btn-default'],
			applyClass: 'btn-small btn-primary',
			cancelClass: 'btn-small',
			format: 'MM/DD/YYYY',
			separator: ' to ',
			locale: {
				applyLabel: '确定',
				cancelLabel: '取消',
				fromLabel: 'From',
				toLabel: 'To',
				customRangeLabel: '自定义',
				daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
				monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
				firstDay: 1
			}
		};
		$('#reportrange span').html(moment().subtract(29, 'days').format('MMMMD,YYYY') + ' - ' + moment().format('MMMMD,YYYY'));
		$('#reportrange').daterangepicker(optionSet1, cb);
		$('#reportrange').on('show.daterangepicker', function () {
			//console.log("show event fired");
		});
		$('#reportrange').on('hide.daterangepicker', function () {
			//console.log("hide event fired");
		});
		$('#reportrange').on('apply.daterangepicker', function (ev, picker) {
			//console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
			start = parseInt(picker.startDate / 1000);
			end = parseInt(picker.endDate / 1000);
			getRefreshData();
		});
		$('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
			//console.log("cancel event fired");
		});
		$('#options1').click(function () {
			$('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
		});
		$('#options2').click(function () {
			$('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
		});
		$('#destroy').click(function () {
			$('#reportrange').data('daterangepicker').remove();
		});
	});
</script>
<!-- /bootstrap-daterangepicker -->

<script>
	var echartDonut, echartBar,
		start = __DATA.date[0], end = __DATA.date[1],
		fid = 0, ftype = 0;
	$(document).ready(function () {

		$("#select-1").select2({
			allowClear: false,
			language: "zh-CN",
			data: {{province}}
		})
		;
		$("#select-2").select2({
			allowClear: false,
			language: "zh-CN",
			data: []
		});
		$("#select-3").select2({
			allowClear: false,
			language: "zh-CN",
			data: []
		});
		$("#select-4").select2({
			allowClear: false,
			language: "zh-CN",
			data: []
		});
		$("#select-1").on('change', function () {
			$("#select-2").empty();

			var selectedID = parseInt($("#select-1 option:selected").val());
			fid = selectedID;
			ftype = 0;
			$.post("index/getAreaData", {
				'id': fid
			}, function (_data) {
				loadData(2, _data);
			}, 'json');

			$("#select-3").empty();
			$("#select-3").select2({
				allowClear: false,
				language: "zh-CN",
				data: [{id: 0, text: '全部'}]
			});

			if ($("#select-1 option:selected").val() == 0) {
				$("#select-2").attr('disabled', 'disabled');
				$("#select-3").attr('disabled', 'disabled');
			} else {
				$("#select-2").removeAttr('disabled');
				if ($("#select-2 option:selected").val() == 0) {
					$("#select-3").attr('disabled', 'disabled');
				} else {
					$("#select-3").removeAttr('disabled');
				}
			}
		});
		$("#select-2").on('change', function () {
			if ($("#select-2 option:selected").val() == 0) {
				$("#select-3").attr('disabled', 'disabled');
			} else {
				$("#select-3").removeAttr('disabled');
			}
			var selectedID = parseInt($("#select-2 option:selected").val());
			if (selectedID == 0) {
				fid = parseInt($("#select-1 option:selected").val());
				ftype = 0;
			} else {
				fid = selectedID;
				ftype = 1;
			}
			$.post("index/getAreaData", {
				'id': fid
			}, function (_data) {
				loadData(3, _data);
			}, 'json');
		});

		$("#select-3").on('change', function () {
			var selectedID = parseInt($("#select-3 option:selected").val());
			if (selectedID == 0) {
				fid = parseInt($("#select-2 option:selected").val());
				ftype = 1;
				if (fid == 0) {
					fid = parseInt($("#select-1 option:selected").val());
					ftype = 0;
				}
			} else {
				fid = selectedID;
				ftype = 2;
			}
			$.post("index/getAreaData", {
				'id': fid
			}, function (_data) {
				$("#select-4").empty();
				$("#select-4").select2({
					allowClear: false,
					language: "zh-CN",
					data: _data.shops
				});
			}, 'json');
		});

		$("#select-4").on('change', function () {
			var selectedID = parseInt($("#select-4 option:selected").val());
			if (selectedID == 0) {
				fid = parseInt($("#select-3 option:selected").val());
				ftype = 2;
				if (fid == 0) {
					fid = parseInt($("#select-2 option:selected").val());
					ftype = 1;
					if (fid == 0) {
						fid = parseInt($("#select-1 option:selected").val());
						ftype = 0;
					}
				}
			} else {
				fid = selectedID;
				ftype = 3;
			}
		});


		$('#changeArea').click(function () {
			val1 = parseInt($("#select-1 option:selected").val());
			val2 = parseInt($("#select-2 option:selected").val());
			val3 = parseInt($("#select-3 option:selected").val());
			val4 = parseInt($("#select-4 option:selected").val());

			_max = Math.max(val1, val2, val3);
			_type = [val1, val2, val3].indexOf(_max);
			if (val4 == 0 && _max == 0) {
				return;
			} else {
				if (!isNaN(val4) && val4 != 0) {
					_type = 3;
					_max = val4;
				}
				fid = _max;
				ftype = _type;
				getRefreshData();
			}
		});
		init();
	});
	function loadData(_selector, _data) {
		$("#select-" + _selector).empty();
		$("#select-" + _selector).select2({
			allowClear: false,
			language: "zh-CN",
			data: _data.data
		});

		$("#select-4").empty();
		$("#select-4").select2({
			allowClear: false,
			language: "zh-CN",
			data: _data.shops
		});
	}

	function getRefreshData() {
		$.post("index/refreshData", {
			'id': fid,
			'type': ftype,
			'start': start,
			'end': end
		}, function (_data) {
			__DATA = _data;
			init();
		}, 'json');
	}

	function switchEchartDonut(_type) {
		if (__DATA.ingredient.length < 1) return;
		_data = [];
		_tooltip = {};
		_name = '';
		if (_type == 'count') {
			_data = [{
				value: __DATA.ingredient.count[0],
				name: '邮寄快递'
			}, {
				value: __DATA.ingredient.count[1],
				name: '到店自取'
			}, {
				value: __DATA.ingredient.count[2],
				name: '上门试衣'
			}];
			_tooltip = {
				trigger: 'item',
				formatter: "总单数:" + __DATA.ingredient.countTotal + "<br/>{b} : {c} ({d}%)"
			};
			_name = __DATA.ingredient.countTotal;
		} else {
			_data = [{
				value: __DATA.ingredient.money[0],
				name: '邮寄快递'
			}, {
				value: __DATA.ingredient.money[1],
				name: '到店自取'
			}, {
				value: __DATA.ingredient.money[2],
				name: '上门试衣'
			}];
			_tooltip = {
				trigger: 'item',
				formatter: "总金额:" + __DATA.ingredient.moneyTotal + "<br/>{b} : {c} ({d}%)"
			};
			_name = __DATA.ingredient.moneyTotal;
		}
		echartDonut.setOption({
			tooltip: _tooltip,
			series: [{
				data: _data
			}]
		});
	}
	function switchEchartBar(_type) {
		if (__DATA.rank.length < 1) return;
		_name = [];
		_num = [];
		_title = '';
		if (_type == 'count') {
			_name = __DATA.rank.count.name;
			_num = __DATA.rank.count.money;
			_title = '订单数';
		} else {
			_name = __DATA.rank.money.name;
			_num = __DATA.rank.money.money;
			_title = '销售额';
		}
		echartBar = echarts.init(document.getElementById('echart_bar_horizontal'), 'my');
		echartBar.setOption({
			tooltip: {
				trigger: 'item'
			},
			toolbox: {
				show: true,
				feature: {
					restore: {
						show: false,
						title: "Restore"
					},
					saveAsImage: {
						show: true,
						title: "保存图片"
					}
				}
			},
			calculable: true,
			xAxis: [{
				type: 'value',
				boundaryGap: [0, 0.01]
			}],
			yAxis: [{
				type: 'category',
				data: _name
			}],
			series: [{
				name: _title,
				type: 'bar',
				data: _num
			}]
		});
	}
	function init() {
		$('#graph_line').empty();
		if (__DATA.trend.length < 1) {
		} else {
			Morris.Line({
				element: 'graph_line',
				xkey: 'day',
				ykeys: ['value'],
				labels: ['销售额'],
				hideHover: 'auto',
				lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
				data: __DATA.trend,
				resize: true
			});
		}

		echartDonut = echarts.init(document.getElementById('echart_donut'), 'my');
		if (__DATA.ingredient.length < 1) {
			echartDonut.clear();
		} else {
			echartDonut.setOption({
				tooltip: {
					trigger: 'item',
					formatter: "总金额:" + __DATA.ingredient.moneyTotal + "<br/>{b} : {c} ({d}%)"
				},
				calculable: true,
				legend: {
					x: 'center',
					y: 'bottom',
					data: ['邮寄快递', '到店自取', '上门试衣']
				},
				toolbox: {
					show: true,
					feature: {
						magicType: {
							show: true,
							type: ['pie', 'funnel'],
							option: {
								funnel: {
									x: '25%',
									width: '50%',
									funnelAlign: 'center',
									max: 1548
								}
							}
						},
						restore: {
							show: false,
							title: "Restore"
						},
						saveAsImage: {
							show: true,
							title: "保存图片"
						}
					}
				},
				series: [{
					//name: __DATA.ingredient.moneyTotal,
					type: 'pie',
					radius: ['35%', '55%'],
					itemStyle: {
						normal: {
							label: {
								show: true
							},
							labelLine: {
								show: true
							}
						},
						emphasis: {
							label: {
								show: true,
								position: 'center',
								textStyle: {
									fontSize: '14',
									fontWeight: 'normal'
								}
							}
						}
					},
					data: [{
						value: __DATA.ingredient.money[0],
						name: '邮寄快递'
					}, {
						value: __DATA.ingredient.money[1],
						name: '到店自取'
					}, {
						value: __DATA.ingredient.money[2],
						name: '上门试衣'
					}]
				}]
			});
		}

		echartBar = echarts.init(document.getElementById('echart_bar_horizontal'), 'my');
		if (__DATA.rank.length < 1) {
			echartBar.clear();
		} else {
			echartBar.setOption({
				tooltip: {
					trigger: 'item'
				},
				toolbox: {
					show: true,
					feature: {
						restore: {
							show: false,
							title: "Restore"
						},
						saveAsImage: {
							show: true,
							title: "保存图片"
						}
					}
				},
				calculable: true,
				xAxis: [{
					type: 'value',
					boundaryGap: [0, 0.01]
				}],
				yAxis: [{
					type: 'category',
					data: __DATA.rank.money.name
				}],
				series: [{
					name: '销售额',
					type: 'bar',
					data: __DATA.rank.money.money
				}]
			});
		}

	}
</script>
</body>
</html>