{% include "header.phtml" %}

<!-- Datatables -->
<link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<body class="nav-md">
<!--<?php var_dump($debug); ?>-->
<div class="container body">
	<div class="main_container">
		<!-- sidebar menu -->
		{% include "sidebar.phtml" %}
		<!-- /sidebar menu -->

		<!-- top navigation -->
		{% include "top_nav.phtml" %}
		<!-- /top navigation -->

		<!-- page content -->
		<div class="right_col" role="main">
			<div class="">
				<div class="clearfix"></div>

				<div class="row">
					<div class="col-md-12">
						<div class="x_panel">
							<div class="x_title" style="margin-bottom: 0;">
								<button type="button" class="btn btn-primary">新增门店</button>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
									<li><a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">

								<section class="content invoice">
									<!-- Table row -->
									<div class="row">
										<div class="col-xs-12 table">
											<table class="table table-striped" id="shop-list"
												   style="border: 1px solid gainsboro;">
												<thead>
												<tr>
													<th>分店名称</th>
													<th>地址</th>
													<th>商品数</th>
													<th>商品销量</th>
													<th>销售总额</th>
													<th>店员数</th>
													<th>操作</th>
												</tr>
												</thead>
												<tbody>
												{% for d in data %}
												<tr>
													<td>{{ d['shop_name'] }}</td>
													<td>{{ d['address'] }}</td>
													<td>{{ d['goods_Num'] }}</td>
													<td>{{ d['sell_num'] }}</td>
													<td>{{ d['total_money'] }}</td>
													<td>{{ d['staff_num'] }}</td>
													<td>
														<button type="button" class="btn btn-info btn-sm"
																onclick="showShopInfo({{ d['id'] }})">查看
														</button>
														<button type="button" class="btn btn-danger btn-sm">编辑</button>
														<div hidden="hidden" id="div-{{ d['id'] }}">
															<table class="table table-striped"
																   style="border: 1px solid gainsboro;">
																<tbody>
																<tr>
																	<td style="text-align: right;width: 90px;">商家名称:</td>
																	<td style="text-align: left;">{{ d['shop_name'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">地址:</td>
																	<td style="text-align: left;">{{ d['address'] }}查看定位</td>
																</tr>
																<tr>
																	<td style="text-align: right;">门店电话:</td>
																	<td style="text-align: left;">{{ d['shop_tel'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">状态:</td>
																	<td style="text-align: left;">{{ d['partner_state'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">店铺宣传图:</td>
																	<td style="text-align: left;"><img style="max-height: 200px;" src="{{ d['shop_back'] }}"/></td>
																</tr>
																<tr>
																	<td style="text-align: right;">品牌logo:</td>
																	<td style="text-align: left;"><img style="max-height: 150px;" src="{{ d['shop_logo'] }}"/></td>
																</tr>
																<tr>
																	<td style="text-align: right;">门店介绍:</td>
																	<td style="text-align: left;">{{ d['shop_intro'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">营业时间:</td>
																	<td style="text-align: left;">{{ d['open_time'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">登录信息:</td>
																	<td style="text-align: left;"></td>
																</tr>
																<tr>
																	<td style="text-align: right;">姓名:</td>
																	<td style="text-align: left;">{{ d['login_name'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">账号:</td>
																	<td style="text-align: left;">{{ d['login_mobile'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">银行卡信息:</td>
																	<td style="text-align: left;"></td>
																</tr>
																<tr>
																	<td style="text-align: right;">银行:</td>
																	<td style="text-align: left;">{{ d['bank_name'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">支行:</td>
																	<td style="text-align: left;">{{ d['branch_bank'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">卡号:</td>
																	<td style="text-align: left;">{{ d['bank_card'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">身份证:</td>
																	<td style="text-align: left;">{{ d['identity_no'] }}</td>
																</tr>
																<tr>
																	<td style="text-align: right;">姓名:</td>
																	<td style="text-align: left;">{{ d['real_name'] }}</td>
																</tr>
																</tbody>
															</table>
														</div>
													</td>
												</tr>
												{% elsefor %}
												<tr>
													<td colspan="7" style="text-align: center">没有找到相关店铺</td>
												</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>
										<!-- /.col -->
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->

		<!-- footer content -->
		{% include "footer.phtml" %}
		<!-- /footer content -->
	</div>
</div>

<!-- jQuery -->
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>

<!-- Custom Theme Scripts -->
<script src="/js/custom.js"></script>

<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" language="JavaScript">
	$(document).ready(function () {
		$('#shop-list').DataTable({
			"language": {
				"lengthMenu": "每页 _MENU_ 条",
				"zeroRecords": "没有找到相关店铺",
				"info": "共 _PAGE_ / _PAGES_ 页",
				"infoEmpty": "没有找到相关店铺",
				"infoFiltered": "(共 _MAX_ 条)",
				"search": "查找:",
				"paginate": {
					"first": "第一页",
					"next": "下一页",
					"previous": "上一页"
				}
			}
		});
	});

	function showShopInfo(_id) {
		layer.open({
			type: 1,
			skin: 'col-sm-12', //加上边框
			area: ['900px', '800px'], //宽高
			content: $('#div-' + _id).html()
		});
	}
</script>
</body>
</html>