{# templates/base.phtml #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - 摩狐连锁管理系统</title>
	{% block head %}
	{{ stylesheet_link("css/global.css") }}
	{{ stylesheet_link("css/theme-triton-all_1.css") }}
	{{ stylesheet_link("css/theme-triton-all_2.css") }}
	{{ javascript_include("js/jquery-2.2.4.min.js") }}
	{% endblock %}
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
{% block script %}{% endblock %}
</body>
</html>