<footer>
	<div class="pull-right">
		广州秀品网络科技有限公司
	</div>
	<div class="clearfix"></div>
</footer>

<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/js/layer/layer.js"></script>
<script language="JavaScript" type="text/javascript">
	function logout() {
		layer.confirm('您确定要登出?', {
			btn: ['是', '否'] //按钮
		}, function () {
			$.get("/auth/logout", function (result) {
				location.reload();
			});
		}, function (a) {
		});
	}
</script>